---
http_interactions:
- request:
    method: get
    uri: https://sa-api.staging.reiformslive.com.au/forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NGI2NmZmOTUtYWRlNy00MTNlLWIwODYtMDA0NGRlN2I0Y2NmOmFlN2U1YTFiLWU4NWQtNDNjNC04ZDAxLWZkNWNiNDdkNzA0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":15649,"template_version_id":860,"agency_id":47,"user_id":319,"name":"Tenancy
        Agreement 001","template":false,"finalised":false,"deleted":false,"archived":false,"private":false,"generate":true,"created":"1503712769","updated":"1503713538","given_name":"David","surname":"Milanese","template_version":null,"template_cost":0,"template_id":23,"template_name":"Residential
        Property Tenancy Agreement","template_code":"FM6100","template_instruction_pages":0,"old_id":null,"template_version_active":true,"file_ids":null,"photo_ids":null,"form_share_ids":null,"annexure_versions_active":true,"meta":null,"template_active":true,"eol_template_name":null,"eol_template_code":null,"eol_template_id":null,"external_total":0},{"id":15641,"template_version_id":860,"agency_id":47,"user_id":319,"name":"Example
        Tenancy Agreement Form","template":false,"finalised":false,"deleted":false,"archived":false,"private":false,"generate":false,"created":"1503538259","updated":"1503538898","given_name":"David","surname":"Milanese","template_version":null,"template_cost":0,"template_id":23,"template_name":"Residential
        Property Tenancy Agreement","template_code":"FM6100","template_instruction_pages":0,"old_id":null[...]
