---
http_interactions:
- request:
    method: get
    uri: https://sa-api.staging.reiformslive.com.au/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NGI2NmZmOTUtYWRlNy00MTNlLWIwODYtMDA0NGRlN2I0Y2NmOmFlN2U1YTFiLWU4NWQtNDNjNC04ZDAxLWZkNWNiNDdkNzA0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2,"name":"Residential Sales","index":1,"active":true,"type":null,"tags":[],"templates":[{"cost":0,"active":true,"template_version_tags":null,"id":169,"name":"Residential
        Sales Agency Agreement","code":"FM1110","template_group_id":2,"deprecated":false,"deprecated_message":null,"tags_filter":false,"template_tags":{"mra":true,"edible":true,"f1m":true},"beta":false,"signees":true,"tags":["mra","edible","f1m"]},{"cost":0,"active":true,"template_version_tags":null,"id":176,"name":"Subsequent
        Sales Agency Agreement (effective 2014)","code":"FM1110A","template_group_id":2,"deprecated":false,"deprecated_message":null,"tags_filter":false,"template_tags":{"mra":true,"edible":true},"beta":false,"signees":true,"tags":["mra","edible"]},{"cost":0,"active":true,"template_version_tags":null,"id":546,"name":"Subsequent
        Sales Agency Agreement (Express)","code":"FM1[...]
