---
http_interactions:
- request:
    method: post
    uri: https://sa-api.staging.reiformslive.com.au/session
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NGI2NmZmOTUtYWRlNy00MTNlLWIwODYtMDA0NGRlN2I0Y2NmOmFlN2U1YTFiLWU4NWQtNDNjNC04ZDAxLWZkNWNiNDdkNzA0NA==
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "user": {
          "id": 1,
          "agency_id": 2,
          "member_number": null,
          "realtor_number": null,
          "given_name": "John",
          "surname": "Doe",
          "email": "JohnDoe@example.com",
          "mobile": "",
          "principal": true,
          "default_private": false,
          "active": true,
          "deleted": false,
          "created": 1354083959,
          "updated": 1355181213
        },
        "agency": {
          "id": 44,
          "name": "Mark",
          "address": "Test",
          "address2": "",
          "suburb": "Test",
          "state": "SA",
          "postcode": "5000",
          "phone": "9493498394",
          "fax": "8498349",
          "email": "agency@example.com",
          "credits": 26500,
          "active": true,
          "approved": true,
          "member_number": "000001",
          "licencee_name": "Example Agency Realty Ltd Pty",
          "licencee_number": "000002",
          "gst": false,
          "abn": "000000",
          "logo": null,
          "created": 1354083959,
          "updated": 1355288002,
          "active_subscription": false,
          "subscription_expiry": null,
          "subscription_type": "ALL",
          "admin": true,
          "forms_created": 12
        },
        "token": "00000000-0000-0000-0000-000000000000",
        "impersonating": false
      }'
  recorded_at: Thu, 14 Sep 2017 02:40:10 GMT
recorded_with: VCR 3.0.3
